@model SURoomieFinder.Models.DummyGuest
@{

    ViewBag.Title = "ViewAnswers";

}

<h2>View Answers</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName)'s answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Which neighborhood do you want to live in?
        </dt>

        <dd>
             @Html.DisplayFor(model => model.Q1)
        </dd>

        <dt>
            How much are you willing to spend per month on rent?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q2)
        </dd>

        <dt>
            What type of housing do you prefer?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q3)
        </dd>

        <dt>
            What pets do you currently have or plan to acquire?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q4)
        </dd>

        <dt>
            Do you drink alcohol?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q5)
        </dd>

        <dt>
            Do you smoke cigarettes?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q6)
        </dd>

        <dt>
            Are you 420 friendly?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q7)
        </dd>

        <dt>
            Do you partake in other substances not previously listed?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q8)
        </dd>

        <dt>
            How would you rate your own cleanliness in a living situation?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q9)
        </dd>

        <dt>
            What is your comfort with having guests in your living space?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q10)
        </dd>

        <dt>
            How much time do you spend at home?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q11)
        </dd>

        <dt>
            Do you prefer to live in housing with accomodations for people with disabilities?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q12)
        </dd>

        <dt>
            Do you prefer to live in housing with exclusively members of the LGBTQ+ community?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q13)
        </dd>

        <dt>
            Do you prefer to live with people of the same gender?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q14)
        </dd>

        <dt>
            What noise level are you comfortable with in your living situation?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q15)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
