@model SURoomieFinder.Models.DummyGuest
@{

    ViewBag.Title = "View Answers";

}

<h2>@Html.DisplayFor(model => model.FirstName)'s answers</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
		<p></p>
			<div class="col-md-8">
				<b>Which neighborhood do you want to live in?</b>
            </div>
            <div class = "col-md-4">
            @Html.DisplayFor(model => model.Q1)
            </div>

		<p></p>
        <div class = "col-md-8">
            <b>How much are you willing to spend per month on rent?</b>
        </div>
            <div class = "col-md-4">
                @Html.DisplayFor(model => model.Q2)
            </div>

		<p></p>
			<div class="col-md-8">
				<b>What type of housing do you prefer?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q3)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>What pets do you currently have or plan to acquire?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q4)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Do you drink alcohol?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q5)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Do you smoke cigarettes?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q6)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Are you 420 friendly?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q7)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Do you partake in other substances not previously listed?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q8)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>How would you rate your own cleanliness in a living situation?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q9)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>What is your comfort with having guests in your living space?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q10)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>How much time do you spend at home?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q11)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Do you prefer to live in housing with accomodations for people with disabilities?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q12)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>Do you prefer to live in housing with exclusively members of the LGBTQ+ community?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q13)
			</div>
      
		<p></p>
			<div class="col-md-8">
				<b>Do you prefer to live with people of the same gender?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q14)
			</div>

		<p></p>
			<div class="col-md-8">
				<b>What noise level are you comfortable with in your living situation?</b>
			</div>
			<div class="col-md-4">
				@Html.DisplayFor(model => model.Q15)
			</div>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
