@model SURoomieFinder.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hometown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hometown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question15)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
