@model SURoomieFinder.Models.Client

<h2> Question Details </h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseList.Question15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseList.Question15)
        </dd>

        </dl>
 </div>

